{% extends 'base.html.twig' %}

{% block title %}Edit Ingestor{% endblock %}

{% block body %}
    <div class="p-7 w-screen h-screen">
        <h1 class="font-bold text-2xl">Edit Ingestor</h1>
        {{ include('ingestor/_form.html.twig', {'button_label': 'Update'}) }}


        {{ include('ingestor/_delete_form.html.twig') }}
    </div>

{% endblock %}
