{% extends 'base.html.twig' %}

{% block title %}Ingestor index{% endblock %}

{% block body %}
    <h1>Ingestor index</h1>

    <div id="ingestors">Loading...</div>

    <script>
        setTimeout(() => {
            $(function() {
                $('#ingestors').initDataTables({{ datatable_settings(datatable) }});
            });
        }, 1000);
    </script>
    <a href="{{ path('app_ingestor_new') }}">Create new</a>
{% endblock %}
