{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="h-screen w-10/12 overflow-hidden flex ">
        <div class="m-auto w-8/12">
            <div class="p-3 w-10/12 rounded overflow-hidden shadow-lg bg-gray-100 text-center block">
                <div class="font-bold text-xl mb-2 h1">IntelHub Login</div>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="flex flex-row justify-around mt-5 mb-5 text-center">
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                               class="form-control" autocomplete="username" required autofocus placeholder="Username">

                        <input type="password" name="password" id="inputPassword"
                               class="form-control" autocomplete="current-password" required placeholder="Password">

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    <button class="btn btn-lg bg-green-500 text-white p-2 w-2/12 rounded font-bold mt-5" type="submit">
                        Login
                    </button>
                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}


                </form>
            </div>
        </div>
    </div>
{% endblock %}
