{% extends 'base.html.twig' %}

{% block title %}Edit Airport{% endblock %}

{% block body %}
    <h1>Edit Airport</h1>

    {{ include('airport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_airport_index') }}">back to list</a>

    {{ include('airport/_delete_form.html.twig') }}
{% endblock %}
