{% extends 'base.html.twig' %}

{% block title %}New Airport{% endblock %}

{% block body %}
    <h1>Create new Airport</h1>

    {{ include('airport/_form.html.twig') }}

    <a href="{{ path('app_airport_index') }}">back to list</a>
{% endblock %}
