<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="flex">
    <div class="bg-blue-500 h-screen p-5 pt-8 w-72 relative">
        {#        <i class="gg-arrow-left-r bg-white text-black text-3xl rounded-full absolute -right-3 top-9 border border-black cursor-pointer"></i> #}
        <div class="inline-flex items-center content-center w-full">
            <i class="gg-pin bg-amber-300 text-4xl rounded cursor-pointer block float-left mr-3 ml-3"></i>
            <h1 class="text-white origin-left font-medium text-2xl ml-8">IntelHub</h1>
        </div>
        <ul class="pt-10">
            <li class="text-white text-xl font-medium mt-5 flex text-center items-center content-center w-full">
                <i class="gg-home mr-3"></i>
                <a href="">Home</a>
            </li>
            <li class="text-white text-xl font-medium mt-5 flex text-center items-center content-center w-full">
                <i class="gg-terminal mr-3"></i>
                <a href="">Settings</a>
            </li>

        </ul>
    </div>
    <div class="p-7">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
