<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IntelHub{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="/build/theme/css/app.css"/>
</head>
<body class="main">
<div class="flex">
    <!-- BEGIN: Side Menu -->
    <nav class="side-nav">
        <div class="pt-4 mb-4">
            <div class="side-nav__header flex items-center">
                <a href="" class="intro-x flex items-center">
                    {#                    <img alt="IntelHub" class="side-nav__header__logo" src="/build/theme/images/logo.svg"> #}
                    <span class="side-nav__header__text text-white pt-0.5 text-lg ml-2.5"> IntelHub </span>
                </a>
                <a href="javascript:;"
                   class="side-nav__header__toggler hidden xl:block ml-auto text-white text-opacity-70 hover:text-opacity-100 transition-all duration-300 ease-in-out pr-5">
                    <i data-lucide="arrow-left-circle" class="w-5 h-5"></i> </a>
                <a href="javascript:;"
                   class="mobile-menu-toggler xl:hidden ml-auto text-white text-opacity-70 hover:text-opacity-100 transition-all duration-300 ease-in-out pr-5">
                    <i data-lucide="x-circle" class="w-5 h-5"></i> </a>
            </div>
        </div>
        <div class="scrollable">
            <ul class="scrollable__content">
                <li class="side-nav__devider mb-4">Menu</li>
                <li>
                    <a href="side-menu-light-calendar.html" class="side-menu">
                        <div class="side-menu__icon"><i data-lucide="calendar"></i></div>
                        <div class="side-menu__title"> Calendar</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END: Side Menu -->
    <!-- BEGIN: Content -->
    <div class="wrapper">
        <!-- BEGIN: Top Bar -->
        <div class="top-bar">
            <!-- BEGIN: Mobile Menu -->
            <div class="-intro-x xl:hidden mr-3 sm:mr-6">
                <div class="mobile-menu-toggler cursor-pointer"><i data-lucide="bar-chart-2"
                                                                   class="mobile-menu-toggler__icon transform rotate-90 dark:text-slate-500"></i>
                </div>
            </div>
            <!-- END: Mobile Menu -->
            <!-- BEGIN: Search -->
            <div class="intro-x relative ml-auto sm:mx-auto">
                {#                <div class="search hidden sm:block"> #}
                {#                    <input type="text" class="search__input form-control" placeholder="Quick Search... (Ctrl+k)"> #}
                {#                    <i data-lucide="search" class="search__icon"></i> #}
                {#                </div> #}
                <a class="notification sm:hidden" href=""> <i data-lucide="search"
                                                              class="notification__icon dark:text-slate-500 mr-5"></i>
                </a>
            </div>
            <!-- END: Search -->
            <!-- BEGIN: Search Result -->
            {#            <div id="search-result-modal" #}
            {#                 class="modal flex items-center justify-center" #}
            {#                 tabindex="-1" #}
            {#                 aria-hidden="true"> #}
            {#                <div class="modal-dialog modal-lg"> #}
            {#                    <div class="modal-content"> #}
            {#                        <div class="modal-body p-0"> #}
            {#                            <div class="relative border-b border-slate-200/60"> #}
            {#                                <i data-lucide="search" #}
            {#                                   class="w-5 h-5 absolute inset-y-0 my-auto ml-4 text-slate-500"></i> #}
            {#                                <input type="text" #}
            {#                                       class="form-control border-0 shadow-none focus:ring-0 py-5 px-12" #}
            {#                                       placeholder="Quick Search..."> #}
            {#                                <div class="h-6 text-xs bg-slate-200 text-slate-500 px-2 flex items-center rounded-md absolute inset-y-0 right-0 my-auto mr-4">ESC</div> #}
            {#                            </div> #}
            {#                            <div class="p-5"> #}
            {#                                <div class="font-medium mb-3">Applications</div> #}
            {#                                <div class="mb-5"> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 bg-success/20 dark:bg-success/10 text-success flex items-center justify-center rounded-full"> #}
            {#                                            <i class="w-3.5 h-3.5" data-lucide="inbox"></i></div> #}
            {#                                        <div class="ml-3 truncate">Compose New Mail</div> #}
            {#                                        <div class="ml-auto w-48 truncate text-slate-500 text-xs flex justify-end items-center"> #}
            {#                                            <i class="w-3.5 h-3.5 mr-2" data-lucide="link"></i> Quick Access #}
            {#                                        </div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 bg-pending/10 text-pending flex items-center justify-center rounded-full"> #}
            {#                                            <i class="w-3.5 h-3.5" data-lucide="users"></i></div> #}
            {#                                        <div class="ml-3 truncate">Contacts</div> #}
            {#                                        <div class="ml-auto w-48 truncate text-slate-500 text-xs flex justify-end items-center"> #}
            {#                                            <i class="w-3.5 h-3.5 mr-2" data-lucide="link"></i> Quick Access #}
            {#                                        </div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 bg-primary/10 dark:bg-primary/20 text-primary/80 flex items-center justify-center rounded-full"> #}
            {#                                            <i class="w-3.5 h-3.5" data-lucide="credit-card"></i></div> #}
            {#                                        <div class="ml-3 truncate">Product Reports</div> #}
            {#                                        <div class="ml-auto w-48 truncate text-slate-500 text-xs flex justify-end items-center"> #}
            {#                                            <i class="w-3.5 h-3.5 mr-2" data-lucide="link"></i> Quick Access #}
            {#                                        </div> #}
            {#                                    </a> #}
            {#                                </div> #}
            {#                                <div class="font-medium mb-3">Contacts</div> #}
            {#                                <div class="mb-5"> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/profile-5.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Arnold Schwarzenegger</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">arnoldschwarzenegger@left4code.com</div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/profile-14.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Robert De Niro</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">robertdeniro@left4code.com</div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/profile-3.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Leonardo DiCaprio</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">leonardodicaprio@left4code.com</div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/profile-1.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Al Pacino</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">alpacino@left4code.com</div> #}
            {#                                    </a> #}
            {#                                </div> #}
            {#                                <div class="font-medium mb-3">Products</div> #}
            {#                                <div> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/preview-15.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Oppo Find X2 Pro</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">Smartphone &amp; Tablet</div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/preview-7.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Sony A7 III</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">Photography</div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/preview-5.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Dell XPS 13</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">PC &amp; Laptop</div> #}
            {#                                    </a> #}
            {#                                    <a href="" class="flex items-center mt-3 first:mt-0"> #}
            {#                                        <div class="w-7 h-7 image-fit"> #}
            {#                                            <img alt="Rocketman - HTML Admin Template" #}
            {#                                                 class="rounded-full" #}
            {#                                                 src="/build/theme/images/preview-11.jpg"> #}
            {#                                        </div> #}
            {#                                        <div class="w-36 truncate ml-3">Nike Tanjun</div> #}
            {#                                        <div class="ml-auto w-36 truncate text-slate-500 text-xs text-right">Sport &amp; Outdoor</div> #}
            {#                                    </a> #}
            {#                                </div> #}
            {#                            </div> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#            </div> #}
            <!-- END: Search Result -->
            <!-- BEGIN: Notifications -->
            {#            <div class="intro-x dropdown mr-5 sm:mr-6"> #}
            {#                <div class="dropdown-toggle notification notification--bullet cursor-pointer" #}
            {#                     role="button" #}
            {#                     aria-expanded="false" #}
            {#                     data-tw-toggle="dropdown"><i data-lucide="bell" class="notification__icon dark:text-slate-500"></i> #}
            {#                </div> #}
            {#                <div class="notification-content pt-2 dropdown-menu"> #}
            {#                    <div class="notification-content__box dropdown-content"> #}
            {#                        <div class="notification-content__title">Notifications</div> #}
            {#                        <div class="cursor-pointer relative flex "> #}
            {#                            <div class="w-10 h-10 flex-none image-fit mr-1"> #}
            {#                                <img alt="Rocketman - HTML Admin Template" #}
            {#                                     class="rounded-full" #}
            {#                                     src="/build/theme/images/profile-5.jpg"> #}
            {#                                <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div> #}
            {#                            </div> #}
            {#                            <div class="ml-2"> #}
            {#                                <a href="javascript:;" class="font-medium mr-1">Arnold Schwarzenegger</a> #}
            {#                                <span class="text-slate-500">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </span> #}
            {#                                <div class="text-xs text-slate-400 mt-1">01:10 PM</div> #}
            {#                            </div> #}
            {#                        </div> #}
            {#                        <div class="cursor-pointer relative flex mt-5"> #}
            {#                            <div class="w-10 h-10 flex-none image-fit mr-1"> #}
            {#                                <img alt="Rocketman - HTML Admin Template" #}
            {#                                     class="rounded-full" #}
            {#                                     src="/build/theme/images/profile-14.jpg"> #}
            {#                                <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div> #}
            {#                            </div> #}
            {#                            <div class="ml-2"> #}
            {#                                <a href="javascript:;" class="font-medium mr-1">Robert De Niro</a> #}
            {#                                <span class="text-slate-500">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </span> #}
            {#                                <div class="text-xs text-slate-400 mt-1">01:10 PM</div> #}
            {#                            </div> #}
            {#                        </div> #}
            {#                        <div class="cursor-pointer relative flex mt-5"> #}
            {#                            <div class="w-10 h-10 flex-none image-fit mr-1"> #}
            {#                                <img alt="Rocketman - HTML Admin Template" #}
            {#                                     class="rounded-full" #}
            {#                                     src="/build/theme/images/profile-3.jpg"> #}
            {#                                <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white dark:border-darkmode-600"></div> #}
            {#                            </div> #}
            {#                            <div class="ml-2"> #}
            {#                                <a href="javascript:;" class="font-medium mr-1">Leonardo DiCaprio</a> #}
            {#                                <span class="text-slate-500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</span> #}
            {#                                <div class="text-xs text-slate-400 mt-1">05:09 AM</div> #}
            {#                            </div> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#            </div> #}
            <!-- END: Notifications -->
            <!-- BEGIN: Notifications -->
            {#            <div class="intro-x mr-auto sm:mr-6"> #}
            {#                <div class="notification cursor-pointer"><i data-lucide="inbox" #}
            {#                                                            class="notification__icon dark:text-slate-500"></i></div> #}
            {#            </div> #}
            <!-- END: Notifications -->
            <!-- BEGIN: Account Menu -->
            <div class="intro-x dropdown text-slate-200 h-10">
                <div class="h-full dropdown-toggle flex items-center"
                     role="button"
                     aria-expanded="false"
                     data-tw-toggle="dropdown">
                    <div class="w-10 h-10 image-fit">
                        <img alt="Rocketman - HTML Admin Template"
                             class="rounded-full border-2 border-white border-opacity-10 shadow-lg"
                             src="/build/theme/images/profile-14.jpg">
                    </div>
                    <div class="hidden md:block ml-3">
                        <div class="max-w-[7rem] truncate font-medium">Arnold Schwarzenegger</div>
                        <div class="text-xs text-slate-400">Backend Engineer</div>
                    </div>
                </div>
                <div class="dropdown-menu w-56">
                    <ul class="dropdown-content">
                        <li>
                            <a href="" class="dropdown-item"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item"> <i data-lucide="edit"
                                                                 class="w-4 h-4 mr-2"></i> Add Account </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item"> <i data-lucide="lock"
                                                                 class="w-4 h-4 mr-2"></i> Reset Password </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item"> <i data-lucide="help-circle"
                                                                 class="w-4 h-4 mr-2"></i> Help </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="" class="dropdown-item"> <i data-lucide="toggle-right"
                                                                 class="w-4 h-4 mr-2"></i> Logout </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END: Account Menu -->
        </div>
        <!-- END: Top Bar -->
        <div class="content">
            {% block body %} {% endblock %}
        </div>
    </div>
    <!-- END: Content -->
</div>

<!-- BEGIN: JS Assets-->
<script src="/build/theme/js/app.js"></script>
<!-- END: JS Assets-->
</body>
</html>
